{{define "footer"}}
</div>
</div>
<footer id="footer">
    <div id="footer_top">
        <div id="footer_top_main">
            <div class="kontakty">
                <div id="footer_nomer">
                    {{ template "header_phone" }}
                </div>
                <div id="footer_callback" class="zvonok_view">
                    <a data-fancybox data-src="#form_callback_popup" href="javascript:;">CALLBACK</a>
                </div>
                <div id="footer_email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{ template "header_email" }}
                </div>
                <div id="footer_address">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ template "header_adress" }}
                </div>
                <div id="footer_social">
                </div>
            </div>
            <div class="company">
                <div class="title">
                    {{ template "footer_title_menu_1" }}
                </div>
                <nav class="footer_menu">
                    <nav class="footer_menu">
                    </nav>
                </nav>
            </div>
            <div class="proekty">
                <div class="title">
                    {{ template "footer_title_menu_2" }}
                </div>
                <nav class="footer_menu">
                    <nav class="footer_menu">
                    </nav>
                </nav>
            </div>
            <div class="dopmenu">
                <div class="title">
                    {{ template "footer_title_menu_3" }}
                </div>
                <nav class="footer_menu">
                    <!-- <?$APPLICATION->IncludeComponent(
                        "bitrix:menu",
                        "top",
                        array(
                            "ROOT_MENU_TYPE" => "bottom_3",
                            "MENU_CACHE_TYPE" => "A",
                            "MENU_CACHE_TIME" => "3600",
                            "MENU_CACHE_USE_GROUPS" => "Y",
                            "MENU_CACHE_GET_VARS" => array(
                            ),
                            "MAX_LEVEL" => "1",
                            "CHILD_MENU_TYPE" => "left",
                            "USE_EXT" => "N",
                            "DELAY" => "N",
                            "ALLOW_MULTI_SELECT" => "N",
                            "COMPONENT_TEMPLATE" => "top"
                        ),
                        false
                    );?> -->
                </nav>
            </div>
        </div>
    </div>
    <div id="footer_bottom">
        <div id="footer_bottom_main">
            <div id="footer_copyrait">
                <!-- <?$APPLICATION->IncludeComponent("bitrix:main.include", "", array("AREA_FILE_SHOW" => "file", "PATH" => SITE_DIR."includes/footer_copyrait.php"), false);?> -->
            </div>
        </div>
    </div>
</footer>
<!-- CALLBACK POPUP -->
<!-- <?$APPLICATION->IncludeComponent(
    "bitrix:main.include",
    "",
    Array(
    "AREA_FILE_SHOW" => "file",
    "PATH" => SITE_DIR."includes/form_popup_callback.php"
    )
);?> -->
<!-- /CALLBACK POPUP -->
<!-- ZAYVKA POPUP -->
<!-- <?$APPLICATION->IncludeComponent(
    "bitrix:main.include",
    "",
    Array(
    "AREA_FILE_SHOW" => "file",
    "PATH" => SITE_DIR."includes/form_popup_zayvka.php"
    )
);?> -->
<!-- /ZAYVKA POPUP -->
</body>

</html>
{{end}}