{{template "base" .}}

{{define "title"}}
{{ .PageData.GetTitle }}
{{ .PageData.GetDescription }}
{{ .PageData.GetKeywords }}
{{end}}

{{define "main"}}
<style>
	#content {
		margin-left: 0px;
	}
</style>

<p>
    Today, the world is reaching the pinnacle of technological development in society.&nbsp;Contemporary times demand technologically advanced, high-quality and optimum solutions in production.
</p>
<p>
    SUNNY-VOLLEY Group is a supplier of electrical components and industrial automation equipment from the world's leading manufacturers and implements engineering projects for a number of major clients.
</p>
<p>
    The mission of SUNNY-VOLLEY Group is to provide its clients with a complete range of industrial and medical equipment, which includes all kinds of design solutions for any specific task.
</p>
<p>
    SUNNY-VOLLEY offers only original products at the best prices in the shortest terms. Products are supplied directly from our partners in Europe from stock, ensuring the shortest possible delivery times and quicker spare part replacements for our clients.
</p>
<p>
    SUNNY-VOLLEY Group is very experienced in the industrial and medical sectors, with experience in supplying and implementing industrial and medical equipment to customers throughout Europe and Armenia.
</p>
<p>
    SUNNY-VOLLEY Group has the right solutions for your automation needs.
</p>
<p>
    We are committed to results and to building long-term relationships with our clients.
</p>
<p>
<br>
</p>
<p>
</p>
<p align="center">
<b><i>You can trust us to automate and upgrade your production facility!</i></b>

{{end}}