{{template "base" .}}

{{define "title"}}
{{ .PageData.GetTitle }}
{{ .PageData.GetDescription }}
{{ .PageData.GetKeywords }}
{{end}}

{{define "main"}}

<style>
	#content {
		margin-left: 0px;
	}
</style>

<h2>INDUSTRIAL PLANT EQUIPMENT </h2>
<p>
	SUNNY-VOLLEY Group supplies a wide range of industrial equipment: automation, control and signalling equipment,
	circuit breakers, instrumentation, transformers, power supplies, drives, building security solutions and production
	software.
</p>
<p>
</p>
<h2>MEDICAL EQUIPMENT</h2>
<p>
	SUNNY-VOLLEY Group offers a wide choice of medical equipment from leading European manufacturers to meet the needs
	of
	health care facilities, aesthetic clinics, beauty salons and for personal use.&nbsp;
</p>
<br>
<br>
<br>
<img width="6000" src="/static/img/DSC_0004_VING1w6_2.jpg" height="2127">

{{end}}